---
import Tool from "./tool.astro";
const { gitUrl, liveUrl, title, img, tools } = Astro.props
import github from '../assets/github.svg';
import arrow from '../assets/arrow-right-up-line.svg'
---

<div class="project relative w-full h-full max-h-[250px] rounded-2xl overflow-hidden cursor-pointer">
    <a class="absolute w-full h-full" href={liveUrl} target="_blank">
        <div class="content absolute bg-[#1A1A1B]/50 flex flex-col w-full h-full max-h-[250px] z-20 p-6 gap-1.5 justify-between">
            <a class="h-6 w-6 z-50" href={gitUrl} target="_blank">
                <img class="opacity-80 transition duration-300 hover:scale-110 hover:opacity-100" src={github.src}  alt="" />
            </a>
            <div>
                <p class="text-3xl font-jersey text-[#EAE6E3]">{ title } <img class="arrow opacity-0 inline h-7" src={arrow.src} alt=""></p>
                <div class="flex flex-row flex-wrap space-x-1">
                    { tools.map(tool => (
                            <Tool tool={tool} />
                    ))}
                </div>
            </div>
        </div>
    </a>
    <img class="gif block blur-[3px] w-full h-full object-cover" src={img} alt="" />
</div>

<script>
    import { gsap } from "gsap";
    const project = document.querySelector('.project');
    console.log(project)

    project?.addEventListener("mouseenter", () => {
        gsap.to(project.querySelector(".gif"), { filter: 'blur(0px)', duration: 0.1, ease: "power2.in" })
        gsap.to(project.querySelector(".arrow"), { startAt: { y: 8, x: -8 } , opacity: 1, y: 0, x: 0, duration: 0.2 })
        gsap.to(project.querySelectorAll('.tool'), { backgroundColor: "#3c0366", transition: 0.1 })
    })

    project?.addEventListener("mouseleave", () => {
        gsap.to(project.querySelector(".gif"), { filter: 'blur(3px)', duration: 0.1, ease: "power2.in" })
        gsap.to(project.querySelector(".arrow"), { opacity: 0, y: 8, x: -8, duration: 0.2 })
        gsap.to(project.querySelectorAll('.tool'), { backgroundColor: "#212121", transition: 0.1 })

    })

</script>